build
compile_commands.json
tags
CMakeCache.txt
cmake-build-debug/
CMakeFiles/
*.iz
*.o
*.lo
*.la
*.Po
*.Plo
*.dirstamp
*.a
*.lai
*.so
*.so.*
test*compress
stamp-h1
libtool
config*
example/sz
Makefile
.vscode
